global:
  pattern: genai-llm-rag-pattern
  options:
    useCSV: false
    syncPolicy: Automatic
    installPlanApproval: Automatic

main:
  clusterGroupName: hub
  multiSourceConfig:
    enabled: true

objectStorage:
  replicas: 3
  storagePool: 50Gi
  
  odfStorageClass: ""
  backingStorageClass: ""


