apiVersion: kueue.x-k8s.io/v1beta1
kind: ResourceFlavor
metadata:
  name: "gpu"
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    argocd.argoproj.io/sync-wave: "10"
spec:
  nodeLabels:
    instance-type: gpu
  nodeTaints:
  - effect: NoSchedule
    key: gpu
    value: "true"
  tolerations:
  - key: "gpu-taint"
    operator: "Exists"
    effect: "NoSchedule"
